.table-info {
  background-image: url(asset_path('table.png'));
  background-size: 95% 95%;
  background-repeat: no-repeat;
  color: white;
  min-width: 285px;
  min-height: 110px;
}
.table-info a{
  color:white;
  font-weight: bold;
}
span.status {
  font-weight: bold;
}
span.status.available {
  color: #48FF48;
}
span.status.in-use {
  color: #FFF557;
}
a.table-create-order img {
  width: 29px;
  height: 30px;
  padding-top: 2px;
}
span.close-order a {
  color: #48FF1F;
}